<header>
    <h1><span>The</span> HTML <img src="../assets/images/logo.png" alt=""> Herald</h1>
    <h2 class="tagline">Produced With That Good Ol’ Timey HTML5 & CSS3</h2> 
  <p id="volume">Vol. MMXI</p>
  <p id="issue"><time datetime="2019-01-01" pubdate>Jan 01, 2019</time></p>
    
  <nav>
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >HOME</a></li>
      <li><a [routerLink]="['/signUp']" routerLinkActive="router-link-active" >SIGN UP</a></li>
      <li><a [routerLink]="['/canvas']" routerLinkActive="router-link-active" >CANVAS DEMOS</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <small>&copy; SitePoint </small>
    <p><a href="http://www.sitepoint.com"><img src="../assets/images/logo-sp.png" alt="SitePoint" width="74" height="20"></a></p>
  </footer>